@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--Grey-900);
    color: var(--White);
    font-size: 1rem;
    font-family: "Inter", serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
}

/* Profile */
.social-profile {
    background: var(--Grey-800);
    border-radius: 10px;
    height: auto;
    max-width: 21.875rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.social-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.social-header img {
    border-radius: 50%;
    height: auto;
    width: 5rem;
    margin-bottom: .5rem;
}

.social-header h1 {
    font-size: 1.3rem;
    font-weight: 700;
}

.social-header h2 {
    font-size: 0.8125rem;
    font-weight: 600;
    color: var(--Green);
    margin-bottom: .5rem;
}

.social-header p {
    font-size: 0.8125rem;
    font-weight: 400;
}

/* Social Links */
.social-section {
    width: 100%;
}

.social-list {
    list-style: none;
    text-align: center;
}

.social-links a {
    background: var(--Grey-700);
    border-radius: 7px;
    color: var(--White);
    display: inline-block;
    font-size: 0.875rem;;
    font-weight: 700;
    margin-bottom: 0.625rem;
    padding: .5rem 1rem;
    text-decoration: none;
    width: 100%;
}

.social-links a:hover {
    background: var(--Green);
    color: var(--Grey-900);
    cursor: pointer;
}
